<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>header</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/c6c9ba1d75.js" crossorigin="anonymous"></script>
</head>
<body>
  <div th:fragment="footer">
	 <div class="row d-flex justify-content-center">
	 	<div class="col-lg-8 mt-5 mb-2">
	 		<div class="row justify-content:space-around mt-2">
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">Meta</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">基本データ</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">ブログ</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">求人</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">ヘルプ</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">API</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">プライバシー</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">利用規約</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">人気アカウント</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">ハッシュタグ</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">所在地</span></div>
	          	<div class="col-1"><span style="color:#8e8e8e; font-size:5px">rakustagram Lite</span></div>
	 	</div>
	 	<div class="text-center mt-3" style="color:#8e8e8e">© 2021 rakustagram from Raku</div>
	</div>
 </div>
	
</body>
</html>